nav {
    padding: 0;
    margin: 0;
    /*box-shadow: 0px 2px 8px #888888;*/
}

nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*font-weight: bold;*/
    color: white;
    font-size: 1.2rem;
    background-color: #a50005;
}

#add-button {
    font-family: 'Cormorant Garamond', 'sans-serif';
    font-size: 1rem;
    color: white;
    background-color: #a50005;
    border: none;
    margin-top: 1rem;
    padding: 1rem;
}

a {
    color: #a50005;
}

nav ul li {
    padding: 1rem 1rem;
}

nav a {
    text-decoration: none;
    color: white;
}

.content {
    padding: 1rem 0;
    text-align: center;
    margin: 0 2rem;
}


#logo {
    /*height: 1.5rem;*/

}

#title {
    margin: 0 2rem 2rem 2rem;
}

h1 {
    font-size: 2.5rem;
    margin: 2rem;
    text-align: center;
}

.blurb {
    margin: 0 20%;
    padding: 0;
    font-size: 1.2rem;
}

.inline-image {
    height: 10rem;
    display: block;
    margin: 0 auto 2rem auto;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 33px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 33px -8px rgba(0,0,0,0.75);
}

.edition {
    display: block;
    margin: 0 auto;
    width: 70%;
}

.editions {
    margin: 3rem;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.cover-image {
    display: block;
    margin: 0 auto;
    height: 10rem;
    -webkit-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.75);
}

.form-add {
    padding: 0.7rem 0;
}

#header-logo {
    display: block;
    margin: 0 auto;
    height: 8rem;
}

#add {
    height: 1rem;
}

body {
    margin: 0;
    padding: 0;

    background-color: #ffffff;
    background-image:  linear-gradient(135deg, #f6f6f6 25%, transparent 25%), linear-gradient(225deg, #f6f6f6 25%, transparent 25%), linear-gradient(45deg, #f6f6f6 25%, transparent 25%), linear-gradient(315deg, #f6f6f6 25%, #fff 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
}

html {
    font-family: 'Cormorant Garamond', 'sans-serif';
}

@media screen and (min-width: 800px) {
    .cover-image {
        height: 10rem;
        display: block;
        margin: 0 auto;
    }

    .edition {
        width: 30%;
    }

    .blurb {
        margin: 0 30%;
    }

    nav ul {
        font-size: 1.2rem;
    }

    nav ul li {
        padding: 1rem 1.5rem;
    }
}