nav {
    padding: 0;
    margin: 0;
    /*box-shadow: 0px 2px 8px #888888;*/
}

nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*font-weight: bold;*/
    color: white;
    font-size: 1.2rem;
    background-color: #a50005;
}

a {
    color: #a50005;
}

nav ul li {
    /*border: black 1px solid;*/
    padding: 1rem 1.5rem;
}

nav a {
    text-decoration: none;
    color: white;
}

.content {
    padding: 2rem 0;
    text-align: center;
    margin: 0 2rem;
}


#logo {
    /*height: 1.5rem;*/

}

h1 {
    font-size: 2.5rem;
    margin: 1rem 2rem;
    text-align: center;
}

.blurb {
    margin: 0 1rem;
    padding: 0;
    font-size: 1.2rem;
}

.inline-image {
    height: 5rem;
    padding-bottom: 2rem;
}

.edition {
    display: block;
    margin: 0 auto;
    width: 70%;
}

.editions {
    margin: 3rem;
    font-size: 1.5rem;
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    /*align-items: center;*/
}

.cover-image {
    display: block;
    margin: 0 auto;
    height: 10rem;
}

body {
    margin: 0;
    padding: 0;

    background-color: #ffffff;
    background-image:  linear-gradient(135deg, #eeeeee 25%, transparent 25%), linear-gradient(225deg, #eeeeee 25%, transparent 25%), linear-gradient(45deg, #eeeeee 25%, transparent 25%), linear-gradient(315deg, #eeeeee 25%, #fff 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
}

html {
    font-family: 'Cormorant Garamond', 'sans-serif';
}

@media screen and (min-width: 800px) {
   .inline-image {
       display: block;
       margin: 0 auto;
   }

    .cover-image {
        height: 10rem;
        display: block;
        margin: 0 auto;
    }

    .edition {
        width: 30%;
    }
}